/* font-family: "Open Sans", sans-serif; */
/* font-family: "Teko", sans-serif; */
/* general selectors */
:root {
  --regular-black: #000000;
  --regular-white: #ffffff;
  --heading-black: #141414;
  --text-golden: #99823d;
  --icon-golden: #a68f4b;
  --icon-red: #e63946;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1176px;
  outline: 2px solid red;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #000000;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-logo {
  margin-right: auto;
  width: 326px;
  height: 136px;
}
header .header-logo-img {
  width: 100%;
  height: 100%;
  width: 326px;
  height: 136px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
header .header-architecture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  margin-left: 500px;
  list-style-type: none;
}
header .architecture-left {
  font-size: 9px;
  font-weight: 400;
  line-height: 15.3px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  opacity: 75%;
}
header .architecture-right {
  font-size: 10px;
  font-weight: 400;
  line-height: 15.3px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
header .header-icon {
  fill: #e63946;
  width: 14.18px;
  height: 12.76px;
}
header .header-nav {
  margin-left: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  align-items: center;
}
header .header-nav a {
  color: #ffffff;
  line-height: 34px;
  letter-spacing: 2.76px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.section-1 {
  /* height: 727px; */
  background-image: url(img/section-1-bg.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* studio */
  /* social media navigation */
}
.section-1 .section-1-container {
  width: 90%;
  /* padding: 20%; */
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
.section-1 .black-box {
  z-index: -100;
  width: 652px;
  height: 659px;
  background: #141414;
  -webkit-transform: translate(112%, -122%);
          transform: translate(112%, -122%);
}
.section-1 .golden-box {
  width: 489px;
  height: 329px;
  z-index: 2;
  background: #99823d;
  -webkit-transform: translate(183%, -45%);
          transform: translate(183%, -45%);
}
.section-1 .studio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 584px;
  height: 455px;
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  -webkit-transform: translate(123%, 10%);
          transform: translate(123%, 10%);
  /* outline: 2px solid red; */
}
.section-1 .studio-upper-heading {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2.76px;
  line-height: 16.6px;
  color: #99823d;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.section-1 .studio-heading {
  font-size: 67px;
  font-weight: 400;
  line-height: 67px;
  color: #141414;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.section-1 .studio-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: #141414;
  font-family: "Open Sans", sans-serif;
}
.section-1 .studio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  margin-top: 15px;
  /* outline: 2px solid red; */
}
.section-1 .studio-button-left {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.9px;
  letter-spacing: 2.97px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 24px 69px 26px 72px;
  background-color: #99823d;
  border: none;
}
.section-1 .studio-button-right {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.9px;
  letter-spacing: 2.97px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 24px 58px 26px 60px;
  background-color: #141414;
  border: none;
}
.section-1 .social-media-nav {
  list-style-type: none;
  width: 815px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  padding-right: 343px;
  gap: 37px;
  position: relative;
  /* top: -870px; */
  /* outline: 2px solid red; */
}
.section-1 .social-media {
  font-size: 12px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 2.97px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.section-2 {
  background-color: #ebebeb;
  position: relative;
  margin-bottom: 135px;
}

.section-2::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: #222;
  left: 50%;
  bottom: -70px;
}

/* article-content */
.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  outline: 2px solid red;
  width: 680px;
  margin-bottom: 68px;
}

.section-2-upper-heaing {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  text-transform: uppercase;
}

.article-heading {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 53px;
  line-height: 53px;
  color: #141414;
  text-transform: capitalize;
}

.article-text-small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.5px;
  color: #141414;
  margin-top: 32px;
  margin-bottom: 16px;
}

.article-text-large {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25.5px;
  color: #141414;
}

/* article news */
.article-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 92px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

.article-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.news-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  text-transform: uppercase;
}

.news-text {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26.1px;
  color: #141414;
  text-transform: capitalize;
}

/* count statistics */
.count-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 148px;
}

.count-stats ul:not(:nth-child(1))::before {
  content: "";
  list-style-type: square;
  position: relative;
  top: 50px;
  left: -77px;
  /* outline: 2px solid red; */
  background-color: #99823d;
  width: 9px;
  height: 9px;
}

.count-stats-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  list-style-type: none;
  text-align: center;
}

.count-stats-price {
  font-family: "Teko", sans-serif;
  font-weight: 900;
  font-size: 59px;
  line-height: 58.7px;
  color: #141414;
  text-transform: capitalize;
}

.count-stats-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17.9px;
  letter-spacing: 2.97px;
  color: #99823d;
  text-transform: uppercase;
}

/* main section 2 */
/* section-2-architectures */
.architectures {
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  margin-top: 190px;
  /* align-self: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
  outline: 2px solid red;
}

.architecture {
  width: 500px;
  height: 342.3px;
  /* outline: 2px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.corner-content {
  padding: 9px 36px;
  background-color: #141414;
  width: 103px;
  height: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.3px;
  letter-spacing: 2.72px;
  color: #ffffff;
  text-transform: uppercase;
}

.interior-content {
  position: absolute;
  bottom: 0;
  right: 0;
  /* outline: 2px solid red; */
  background-color: #99823d;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 2.76px;
  color: #ffffff;
  padding: 4px 41px 68px 44px;
  text-transform: uppercase;
}

.room-content {
  position: absolute;
  bottom: 0;
  /* left: 130px; */
  z-index: 1;
  padding: 20px 130px 26px 130px;
  white-space: nowrap;
  background-color: #000000;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 26.1px;
  font-family: "Teko", sans-serif;
}

.s-2-a-1 {
  background-image: url(img/architecture/bg-left.jpg);
}

.s-2-a-2 {
  background-image: url(img/architecture/bg-center.jpg);
}

.s-2-a-3 {
  background-image: url(img/architecture/bg-right.jpg);
}

.section-3-headings {
  /* outline: 2px solid red; */
  /* height: 106px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 90px;
}

.section-3-info {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  text-transform: uppercase;
}

.section-3-heading {
  font-size: 53px;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  color: #141414;
  text-transform: capitalize;
}

/* service-cards */
.service-cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  /* outline: 2px solid red; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  /* width: 332px; */
  /* height: 164px; */
  /* outline: 2px solid red; */
  /* text-align: center; */
  /* height: 180px; */
}

.service-icon {
  width: 68px;
  height: 68px;
  position: relative;
  /* top: 50px; */
  /* left: -80px; */
}

.service-date {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  /* align-self: center; */
  position: relative;
  left: 90px;
  bottom: 60px;
}

.service-heading {
  font-family: "Teko", sans-serif;
  font-size: 26px;
  font-weight: 400px;
  line-height: 26.1px;
  color: #141414;
  margin-top: 11px;
  margin-bottom: 27px;
  /* align-self: center; */
  position: relative;
  left: 90px;
  bottom: 60px;
}

.service-text {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #141414;
  position: relative;
  bottom: 70px;
  /* align-self: end; */
}

.service-button {
  padding: 25px 118px 25px 121px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400px;
  font-size: 12px;
  line-height: 17.9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #99823d;
  border: none;
  border-radius: 1px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  margin-top: 90px;
  margin-bottom: 107px;
}

.section-4 {
  background-color: #ebebeb;
  padding-bottom: 100px;
}

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 114px;
  margin-top: 60px;
  /* outline: 2px solid red; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsor {
  position: relative;
}

.sponsor::before {
  content: "";
  list-style-type: square;
  position: absolute;
  top: 15px;
  left: -60px;
  background-color: #99823d;
  width: 9px;
  height: 9px;
  /* outline: 2px solid red; */
}

footer {
  position: relative;
  bottom: 0;
  /* padding-bottom: -1000px; */
  height: 433px;
  background: #ebebeb;
}

/* footer-nav  */
.footer-section-nav {
  /* overflow: hidden; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 68px;
  background-color: #3d3d3d;
  /* outline: 2px solid red; */
  z-index: 0;
  position: relative;
  z-index: 999;
  /* height: 136px; */
}

.footer-logo {
  width: 131px;
  height: 34px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 745px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* transform: translate(95%, -100%); */
  outline: 2px solid red;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  width: 580px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid red; */
}

.footer-nav a {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 2.76px;
  text-transform: uppercase;
}

/* subscription section */
.subscription-section {
  width: 80%;
  height: 254px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99823d;
  z-index: 2;
  position: relative;
  top: -35px;
}

.subscription-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin-top: 85px; */
  padding-top: 85px;
  /* transform: translate(11%, 100%); */
}

.subscription-input {
  padding: 25px 598px 25px 37px;
  color: #3d3d3d;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 2.763px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 1px;
  outline: none;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* width: 296px; */
  /* white-space: nowrap; */
}

.subscription-button {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 309.091% */
  letter-spacing: 2.763px;
  text-transform: uppercase;
  padding: 25px 36px;
  background: #141414;
  border: none;
  border-radius: 1px;
}

/* footer-bottom-section */
.footer-bottom-section {
  background: #141414;
  /* height: 240px; */
  /* outline: 2px solid red; */
  position: relative;
  top: -255px;
  padding-top: 260px;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom-section .footer-bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  width: 80%;
  margin-left: 10%;
}
.footer-bottom-section .footer-bottom-nav .footer-bottom-item {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 2.763px;
  text-transform: uppercase;
}
.footer-bottom-section .footer-bottom-nav .footer-bottom-item .bottom-span {
  color: #fff;
}
.footer-bottom-section .footer-bottom-nav .bottom-end {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */