.section-3-headings {
  /* outline: 2px solid red; */
  /* height: 106px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 90px;
}

.section-3-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  text-transform: uppercase;
}

.section-3-heading {
  font-size: 53px;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  color: #141414;
  text-transform: capitalize;
}

/* service-cards */

.service-cards {
  flex-wrap: wrap;
  display: flex;
  gap: 90px;
  /* outline: 2px solid red; */
  justify-content: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  /* width: 332px; */
  /* height: 164px; */
  /* outline: 2px solid red; */
  /* text-align: center; */
  /* height: 180px; */
}

.service-icon {
  width: 68px;
  height: 68px;
  position: relative;
  /* top: 50px; */
  /* left: -80px; */
}

.service-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.6px;
  letter-spacing: 2.76px;
  color: #99823d;
  /* align-self: center; */
  position: relative;
  left: 90px;
  bottom: 60px;
}

.service-heading {
  font-family: 'Teko', sans-serif;
  font-size: 26px;
  font-weight: 400px;
  line-height: 26.1px;
  color: #141414;
  margin-top: 11px;
  margin-bottom: 27px;
  /* align-self: center; */
  position: relative;
  left: 90px;
  bottom: 60px;
}

.service-text {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #141414;
  position: relative;
  bottom: 70px;
  /* align-self: end; */
}

.service-button {
  padding: 25px 118px 25px 121px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 400px;
  font-size: 12px;
  line-height: 17.9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #99823d;
  border: none;
  border-radius: 1px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  margin-top: 90px;
  margin-bottom: 107px;
}